:root {
    --container-width: 600px;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #212342;
}


#container {
    width: var(--container-width);
    height: var(--container-width);
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
    background: #d5cac3;
    border: 1px solid black;
    box-sizing: border-box;
}


/* BUTTON styles  */
.button-container {
    width: var(--container-width);
    /* background: aquamarine; */
    align-items: left;

    padding: 0px 0px 20px 0px;
}

button {
    background: #8993a3;
    font-weight: 700;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;    

    padding: 6px 12px;
    font-family: system-ui, -apple-system, sans-serif;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, .2);
}